.container {
  display: block;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  height: calc(100% - 60px);
  overflow-y: auto;

  color: #bbb;
  background: black;
}

.list {
  min-height: 60px;
  display: block;
  overflow: hidden;
}

.list-item {
  padding: 10px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

.list-item:last-child {
  border: none;
}

.add-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-button {
  display: inline;
  white-space: nowrap;
  margin-top: 10px;
}

.action-icon {
  vertical-align: middle;
}

.action-label {
  vertical-align: middle;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  color: white;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background: #333;
  // color: #333;
  border: dotted 3px #777;
  min-height: 60px;
  opacity: 10;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
