.container {
  margin: 20px;
  display: block;
  width: 1000px;
  height: 100%;
  color: #ddd;
  background: black;
  border-radius: 8px;
  padding: 10px;
}

.list {
  // border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  overflow: hidden;
}

.list-item {
  padding: 10px;
  // border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

.list-item:last-child {
  border: none;
}

.item-contents {
  display: inline;
  vertical-align: middle;
}

.add-bar {
  display: flex;
  justify-content: space-between;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  color: white;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background: #333;
  // color: #333;
  border: dotted 3px #777;
  min-height: 60px;
  opacity: 10;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}