@let chklist = checklist();

<div
  #scrollContainer
  class="container"
  data-testid="items-list"
  [style.scroll-padding-bottom.px]="dynamicPadding()"
  (scroll)="updateScrollShadow()"
  (onResize)="updateScrollShadow()"
>
  @if (chklist) {
    <div
      id="items-drop-list"
      cdkDropList
      class="list"
      role="list"
      [cdkDropListDisabled]="checkMode()"
      [cdkDropListData]="chklist.items"
      [cdkDropListConnectedTo]="groupDropListIds()"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for (item of chklist.items; track _trackChecklistItem(item)) {
        <div
          class="list-item"
          cdkDrag
          [cdkDragDisabled]="checkMode()"
          [cdkDragData]="item"
          role="listitem"
          [attr.aria-label]="itemLabel(item)"
        >
          <checklist-item
            #item
            [item]="item"
            [checkMode]="checkMode()"
            [checked]="checkedItemIndices().has($index)"
            (itemCheckedToggle)="onItemCheckedToggle($index)"
            (itemChange)="onItemsUpdated()"
            (itemDeleted)="onItemDeleted($index)"
            (itemFocused)="onItemFocused($index)"
            (itemBlurred)="onItemBlurred()"
          />
          <div *cdkDragPlaceholder></div>
        </div>
      }
    </div>
    <div #addBar class="list-item add-bar" [class.at-bottom]="isAtBottom()" (onResize)="updateAddBarHeight()">
      @if (!checkMode()) {
        @for (item_type of itemTypes; track item_type.type) {
          <div class="action-button">
            <button
              mat-fab
              extended
              class="action-button"
              aria-label="Add a new checklist {{ item_type.label | lowercase }}"
              (mousedown)="$event.preventDefault()"
              (click)="onNewItem(item_type.type)"
            >
              <mat-icon class="action-icon">add</mat-icon>
              <span class="action-label">{{ item_type.label }}</span>
            </button>
          </div>
        }
      } @else {
        <div class="action-button">
          <button
            mat-fab
            extended
            class="action-button"
            aria-label="Check current item"
            (mousedown)="$event.preventDefault()"
            (click)="checkCurrentItemAndNext()"
          >
            <mat-icon class="action-icon">check_box</mat-icon>
            <span class="action-label">Check item</span>
          </button>
        </div>
        <div class="action-button">
          <button
            mat-fab
            extended
            class="action-button"
            aria-label="Reset all checked items"
            (mousedown)="$event.preventDefault()"
            (click)="resetCheckedItems()"
          >
            <mat-icon class="action-icon">restart_alt</mat-icon>
            <span class="action-label">Reset</span>
          </button>
        </div>
      }
    </div>
  } @else {
    <div>Select or create a checklist from the left-side bar.</div>
  }
</div>
