@use '@angular/material' as mat;
@use '../../../theme' as theme;

.editable-input-field {
  width: 100%;

  // Make it short enough that editing doesn't change line height
  height: 28px;
  --mat-form-field-container-vertical-padding: 0;
  @include mat.all-component-densities(-5);
}

.editable-input {
  // Keep the input also centered on the row
  position: relative;
}

mat-form-field {
  @include mat.form-field-overrides(
    (
      outlined-caret-color: mat.get-theme-color(theme.$efis-editor-theme, primary),
      outlined-label-text-color: mat.get-theme-color(theme.$efis-editor-theme, on-surface-variant),
      outlined-hover-label-text-color: mat.get-theme-color(theme.$efis-editor-theme, on-surface),
      outlined-focus-label-text-color: mat.get-theme-color(theme.$efis-editor-theme, primary),
      outlined-focus-outline-color: mat.get-theme-color(theme.$efis-editor-theme, primary),
      outlined-focus-outline-width: 2px,

      outlined-error-hover-outline-color: mat.get-theme-color(theme.$efis-editor-theme, error),
    )
  );
}
