@use '@angular/material' as mat;
@use '../../../../theme' as theme;

.content {
  display: flex;
}

.warning-icon {
  color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  transform: scale(2);
  margin-left: 10px;
  margin-right: 15px;
}

.delete-ok {
  background-color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  color: mat.get-theme-color(theme.$efis-editor-theme, on-error);
}
