@use '@angular/material' as mat;
@use '../../../../theme' as theme;

.content {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.warning-icon {
  color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  transform: scale(2);
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 30px;
}

.disconnect-ok {
  background-color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  color: mat.get-theme-color(theme.$efis-editor-theme, on-error);
}
