@use '@angular/material' as mat;
@use '../../../../theme' as theme;

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  padding-left: 4px;
  margin-left: 25px;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.warning-icon {
  color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  font-size: 48px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin: 15px 30px 0 10px;
}

.disconnect-ok {
  background-color: mat.get-theme-color(theme.$efis-editor-theme, error, 60);
  color: mat.get-theme-color(theme.$efis-editor-theme, on-error);
}
