<div
  class="checklist-tree-node"
  (mouseover)="hideButtons = false"
  (focus)="hideButtons = false"
  (mouseleave)="hideButtons = true"
>
  <button
    *ngIf="node.isAddNew"
    mat-icon-button
    mat-medium-icon-button
    class="checklist-tree-node-add"
    [attr.aria-label]="node.title"
  >
    <mat-icon>add</mat-icon>
  </button>

  <mat-icon
    *ngIf="node.checklist"
    cdkDragHandle
    class="mat-icon-rtl-mirror checklist-tree-drag-icon"
    [style.visibility]="hideButtons || disableButtonHover ? 'hidden' : 'visible'"
    matTooltip="Drag to reorder"
  >
    drag_handle
  </mat-icon>

  <div class="checklist-tree-node-title">
    @if (node.group && !node.checklist && !node.isAddNew) {
      <mat-select
        [(value)]="checklistGroupCategory"
        [class]="'checklist-tree-node-title-category checklist-tree-node-title-category-' + checklistGroupCategory"
        matTooltip="Checklist group category"
        panelWidth="12em"
      >
        @for (category of GROUP_CATEGORIES; track category[0]) {
          <mat-option [value]="category[0]"
            ><span [class]="'checklist-tree-node-title-category-' + category[0]">{{ category[1] }}</span>
          </mat-option>
        }
      </mat-select>
    }
    <div class="checklist-tree-node-title">
      {{ node.title }}
    </div>
  </div>

  <span class="checklist-tree-node-spacer"></span>

  <div
    class="checklist-tree-node-buttons"
    *ngIf="!node.isAddNew"
    [style.visibility]="hideButtons || disableButtonHover ? 'hidden' : 'visible'"
  >
    <button
      mat-icon-button
      mat-small-icon-button
      [attr.aria-label]="'Rename ' + node.title"
      [matTooltip]="'Rename ' + node.title"
      (click)="nodeRename.emit(node)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-small-icon-button
      [attr.aria-label]="'Delete ' + node.title"
      [matTooltip]="'Delete ' + node.title + ' and all its items'"
      [swal]="{
        titleText: node.checklist ? 'Delete checklist?' : 'Delete group?',
        text: node.checklist
          ? 'Are you sure you\'d like to delete checklist &quot;' + node.title + '&quot;?'
          : 'Are you sure you\'d like to delete checklist group &quot;' +
            node.title +
            '&quot; and all checklists within??',
        icon: 'warning',
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Delete!',
        confirmButtonColor: '#d32f2f',
      }"
      (confirm)="nodeDelete.emit(node)"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      *ngIf="!node.checklist && !node.isAddNew"
      mat-icon-button
      mat-small-icon-button
      matTooltip="Drag to reorder"
    >
      <mat-icon cdkDragHandle>drag_handle</mat-icon>
    </button>
  </div>
</div>
