@let n = node();

<div
  class="checklist-tree-node"
  [attr.groupIdx]="n.groupIdx"
  [attr.checklistIdx]="n.checklistIdx"
  (mouseover)="hideButtons = false"
  (focus)="hideButtons = false"
  (mouseleave)="hideButtons = true"
>
  @if (n.isAddNew) {
    <button mat-icon-button mat-medium-icon-button class="checklist-tree-node-add" [attr.aria-label]="n.title">
      <mat-icon>add</mat-icon>
    </button>
  }

  @if (n.checklist) {
    <mat-icon
      cdkDragHandle
      class="mat-icon-rtl-mirror checklist-tree-drag-icon"
      [style.visibility]="hideButtons || disableButtonHover() ? 'hidden' : 'visible'"
      matTooltip="Drag to reorder"
    >
      drag_handle
    </mat-icon>
  }

  <div class="checklist-tree-node-title">
    @if (n.group && !n.checklist && !n.isAddNew) {
      <mat-select
        [(value)]="checklistGroupCategory"
        [class]="`checklist-tree-node-title-category checklist-tree-node-title-category-${checklistGroupCategory}`"
        matTooltip="Checklist group category"
        panelWidth="12em"
      >
        @for (category of _groupCategories; track category[0]) {
          <mat-option [value]="category[0]"
            ><span [class]="`checklist-tree-node-title-category-${category[0]}`">{{ category[1] }}</span>
          </mat-option>
        }
      </mat-select>
    }
    <div class="checklist-tree-node-title">
      {{ n.title }}
    </div>
  </div>

  <span class="checklist-tree-node-spacer"></span>

  @if (!n.isAddNew) {
    <div
      class="checklist-tree-node-buttons"
      [style.visibility]="hideButtons || disableButtonHover() ? 'hidden' : 'visible'"
    >
      <button
        data-testid="rename-button"
        mat-icon-button
        mat-small-icon-button
        [attr.aria-label]="`Rename ${n.title}`"
        [matTooltip]="`Rename ${n.title}`"
        (click)="nodeRename.emit(n)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        data-testid="delete-button"
        mat-icon-button
        mat-small-icon-button
        [attr.aria-label]="`Delete ${n.title}`"
        [matTooltip]="`Delete ${n.title} and all its items`"
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>
      </button>

      @if (!n.checklist && !n.isAddNew) {
        <button mat-icon-button mat-small-icon-button matTooltip="Drag to reorder">
          <mat-icon cdkDragHandle>drag_handle</mat-icon>
        </button>
      }
    </div>
  }
</div>
