<h1 mat-dialog-title class="title">EFIS Editor</h1>
<mat-dialog-content class="contents">
  <div class="github-logo-container">
    <img class="github-logo" ngSrc="github-mark.svg" alt="GitHub logo" width="30" height="30" />&nbsp;
    <a href="https://github.com/rdamazio/efis-editor">GitHub Project</a><br />
  </div>
  <br /><br />
  This software is distributed under the
  <a href="https://raw.githubusercontent.com/rdamazio/efis-editor/main/LICENSE">Apache 2.0 license</a>.<br />
  Refer to the GitHub project for contributors, filing bugs/requesting features, and the full source code.<br />
  <br />
  <span class="disclaimer">
    This software is not endorsed or recommended by any avionics manufacturers - use at your own risk!<br />
    <br />
    By using this software, you're acknowledging the disclaimer listed on the
    <a href="https://github.com/rdamazio/efis-editor">GitHub Project</a>.
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
