@use '@angular/material' as mat;
@use '../../theme' as theme;

.title {
  text-align: center;
}

.contents {
  width: 500px;

  text-align: center;
}

.disclaimer {
  font-weight: bolder;
}

.github-logo-container {
  display: inline-block;
  padding: 10px;
  background-color: mat.get-theme-color(theme.$efis-editor-theme, surface-variant);
  border-radius: 16px;
}

.github-logo {
  width: 30px;
  vertical-align: middle;
}
