<ngx-spinner type="ball-fussion" [name]="_downloadSpinner" [fullScreen]="true">Generating...</ngx-spinner>
<div class="container">
  <div class="leftbar">
    <div role="menubar">
      @defer (hydrate on idle) {
        <checklist-command-bar
          [hasFiles]="(store.listChecklistFiles() | async)?.length !== 0"
          [fileIsOpen]="selectedFile !== undefined"
          (newFile)="onNewFile($event)"
          (openFile)="onOpenFile()"
          (uploadFile)="onUploadFile()"
          (downloadFile)="onDownloadFile($event)"
          (deleteFile)="onDeleteFile()"
          (fileInfo)="onFileInfo()"
        />
        <checklist-file-picker
          [selectedFile]="selectedFile?.metadata?.name ?? ''"
          (fileSelected)="onFileSelected($event)"
          [fileNames]="(store.listChecklistFiles() | async) || []"
          [style.display]="showFilePicker ? '' : 'none'"
        />
        <checklist-file-upload [style.display]="showFileUpload ? '' : 'none'" (fileUploaded)="onFileUploaded($event)" />
      }
      <checklist-tree-bar [tree]="tree" />
    </div>
    <checklist-tree
      #tree
      class="checklist-tree"
      role="navigation"
      (fileModified)="onChecklistChanged()"
      (selectedChecklistChange)="onChecklistSelected()"
    />
  </div>
  <checklist-items
    #items
    class="checklist-items"
    role="main"
    [groupDropListIds]="tree.groupDropListIds()"
    [(checklist)]="tree.selectedChecklist"
    (checklistChange)="onChecklistChanged()"
  />
</div>
