.container {
  display: flex;
  height: 100%;
}

.leftbar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.checklist-tree {
  flex-grow: 1;
  overflow-y: auto;
}

.checklist-items {
  flex-grow: 1;
}