<div class="container">
  <div class="leftbar">
    <checklist-command-bar
        [hasFiles]="(store.listChecklistFiles() | async)?.length === 0"
        [fileIsOpen]="!!!selectedFile"
        (newFile)="onNewFile()"
        (openFile)="onOpenFile()"
        (uploadFile)="onUploadFile()"
        (downloadFile)="onDownloadFile($event)"
        (deleteFile)="onDeleteFile()"
        (fileInfo)="onFileInfo()"
        [downloadFormats]="[
            { id: 'ace', name: 'Garmin G3X/GTN [.ace]' },
            { id: 'dynon', name: 'Dynon [.txt]' },
            { id: 'afs', name: 'Advanced Flight Systems [.afd]' },
            { id: 'grt', name: 'GRT [.txt]' },
            { id: 'json', name: 'Raw data [.json]' },
        ]"
    />
    <checklist-file-picker
        #filePicker
        (selectedFileChange)="onFileSelected($event)"
        [fileNames]="(store.listChecklistFiles() | async) || []"
        [style.display]="showFilePicker ? '' : 'none'"
    />
    <checklist-file-upload
        [style.display]="showFileUpload ? '' : 'none'"
        (fileUploaded)="onFileUploaded($event)"
    />
    <checklist-tree
        #tree
        class="checklist-tree"
        (fileChange)="onFileChanged($event)"
    />
  </div>
  <checklist-items
      #items
      class="checklist-items"
      [(checklist)]="tree.selectedChecklist"
      (checklistChange)="onChecklistChanged($event)"
  />
</div>