<mat-toolbar class="topbar" color="primary" role="toolbar">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title" role="heading" aria-level="1">
    <span class="main-title">EFIS Editor</span>
    @if (navData.routeTitle()) {
      <span class="route-title"> &gt; {{ navData.routeTitle() }}</span>
    }
    @if (navData.fileName()) {
      <span class="file-name">: {{ navData.fileName() }}</span>
    }
  </div>
  <span class="topbar-spacer"></span>

  @defer (hydrate on idle) {
    <gdrive-nav></gdrive-nav>
  }

  @if (_hotkeys.getHotkeys().length > 0) {
    <button
      mat-icon-button
      matTooltip="Show keyboard shortcuts"
      aria-label="Show keyboard shortcuts"
      (click)="showKeyboardShortcuts()"
    >
      <mat-icon>keyboard</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" hasBackdrop>
  <mat-sidenav #sidenav mode="over" role="navigation" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/checklists">Checklist Editor</a>
      <hr />
      <a mat-list-item routerLink="/">Introduction</a>
      <a mat-list-item aria-hidden="true" (click)="showAbout()" (keydown.enter)="showAbout()">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet [routerOutletData]="navData" />
  </mat-sidenav-content>
</mat-sidenav-container>
