.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.sidenav .mat-sidenav-content {
  display: flex;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  z-index: 10;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topbar-spacer {
  flex: 1 1 auto;
}
