<mat-toolbar class="topbar" color="primary">
  <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  EFIS Editor
</mat-toolbar>

<mat-sidenav-container
    class="sidenav-container"
    hasBackdrop>
  <mat-sidenav
      #sidenav
      mode="over"
      role="navigation"
      class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/checklists">Checklist Editor</a>
      <hr />
      <a mat-list-item routerLink="/">Introduction</a>
      <a mat-list-item
          aria-hidden="true"
          (click)="showAbout()"
          (keydown.enter)="showAbout()">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
