<h2 mat-dialog-title>PDF export options</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Paper size</mat-label>
    <mat-select required [(value)]="options.pageSize" aria-label="Select the paper size">
      <mat-optgroup label="Imperial">
        <mat-option value="letter">Letter (8.5 x 11)</mat-option>
        <mat-option value="government-letter">Government letter (8 x 10.5)</mat-option>
        <mat-option value="legal">Legal (8.5 x 14)</mat-option>
        <mat-option value="junior-legal">Junior legal (5 x 8)</mat-option>
        <mat-option value="tabloid">Tabloid (17 x 11)</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Metric">
        <mat-option value="a6">A6</mat-option>
        <mat-option value="a5">A5</mat-option>
        <mat-option value="a4">A4</mat-option>
        <mat-option value="a3">A3</mat-option>
        <mat-option value="a2">A2</mat-option>
        <mat-option value="a1">A1</mat-option>
        <mat-option value="a0">A0</mat-option>
      </mat-optgroup>
      <mat-option value="custom">Custom...</mat-option>
    </mat-select>
  </mat-form-field>

  @if (options.pageSize === 'custom') {
    <div>
      <mat-label>Custom page size:</mat-label><br />
      <mat-form-field class="pagesize-input">
        <mat-label id="width-label">Width (in)</mat-label>
        <input
          matInput
          cdkFocusInitial
          required
          aria-labelledby="width-label"
          placeholder="8.5"
          [(ngModel)]="options.customPageWidth"
        />
      </mat-form-field>

      <mat-form-field class="pagesize-input">
        <mat-label id="height-label">Height (in)</mat-label>
        <input
          matInput
          cdkFocusInitial
          required
          aria-labelledby="height-label"
          placeholder="11"
          [(ngModel)]="options.customPageHeight"
        />
      </mat-form-field>
    </div>
  } @else {
    <div>
      <mat-label>Orientation:</mat-label>
      <mat-radio-group required [(ngModel)]="options.orientation" aria-label="Select the paper orientation">
        <mat-radio-button value="portrait">Portrait</mat-radio-button>
        <mat-radio-button value="landscape">Landscape</mat-radio-button>
      </mat-radio-group>
    </div>
  }

  <div>
    <mat-label>Margins:</mat-label>
    <mat-grid-list cols="3" rowHeight="60px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="margin-input">
          <mat-label id="top-margin-label">Top</mat-label>
          <input
            matInput
            cdkFocusInitial
            required
            aria-labelledby="top-margin-label"
            placeholder="5"
            [(ngModel)]="options.marginTop"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="margin-input">
          <mat-label id="left-margin-label">Left</mat-label>
          <input
            matInput
            cdkFocusInitial
            required
            aria-labelledby="left-margin-label"
            placeholder="5"
            [(ngModel)]="options.marginLeft"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="margin-input">
          <mat-label>Units</mat-label>
          <mat-select required [(value)]="options.marginUnits" aria-label="Select the margin units">
            <mat-option value="percent">%</mat-option>
            <mat-option value="in">in</mat-option>
            <mat-option value="mm">mm</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="margin-input">
          <mat-label id="right-margin-label">Right</mat-label>
          <input
            matInput
            cdkFocusInitial
            required
            aria-labelledby="right-margin-label"
            placeholder="5"
            [(ngModel)]="options.marginRight"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="margin-input">
          <mat-label id="bottom-margin-label">Bottom</mat-label>
          <input
            matInput
            cdkFocusInitial
            required
            aria-labelledby="bottom-margin-label"
            placeholder="5"
            [(ngModel)]="options.marginBottom"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-checkbox [(ngModel)]="options.outputCoverPage">Output cover page</mat-checkbox><br />
  <mat-checkbox [(ngModel)]="options.outputGroupCoverPages">Output group cover pages</mat-checkbox><br />
  <mat-checkbox [(ngModel)]="options.outputPageNumbers">Output page numbers</mat-checkbox><br />
  <mat-checkbox [(ngModel)]="options.marginOffsetsGroupTitle"
    >Offset group title by margin (for top spiral binding)</mat-checkbox
  >
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="options">Ok</button>
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
</mat-dialog-actions>
