@use '@angular/material' as mat;
@use '../../../../theme' as theme;

.print-dialog-content {
  display: flex;
  flex-direction: row;
  width: 800px;
  gap: 10px;
}

.columns-input {
  width: 90px;
  margin-right: 10px;
  margin-top: 20px;

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    margin-left: 5px;
  }
}

.font-size-input {
  width: 110px;
}

.paper-size-input,
.margin-grid {
  width: 250px;
}

.margin-input {
  width: 90px;
  margin-right: 5px;
  margin-top: 20px;
}

.pagesize-input {
  width: 95px;
  margin-right: 10px;
  margin-top: 10px;
}

.radio-group-spaced {
  margin-top: 20px;
}

.divider {
  margin-right: 10px;
}

.section-header {
  font-size: large;
  font-weight: bold;
}

.options-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  /* Creates space for the checkbox touch targets so they don't overflow the dialog boundary and cause scrollbars */
  padding: 8px 4px;
}

input[type='number'] {
  text-align: right;
}

mat-form-field:not(.columns-input) input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

[matTextSuffix],
[matSuffix] {
  color: mat.get-theme-color(theme.$efis-editor-theme, neutral, 80);
}
