.checklist-tree {
  height: 100%;
  overflow-y: auto;
  border-radius: 8px;
}

.checklist-tree-invisible {
  display: none;
}

.checklist-tree ul,
.checklist-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.checklist-tree div[role='group'] > .mat-tree-node {
  padding-left: 60px;
}

.checklist-tree .mat-tree-node:hover {
  background-color: gray;
}

.checklist-tree checklist-tree-node {
  width: 100%;
}

.checklist-selected {
  background-color: #555;
}

.checklist-tree-bar {
  font-size: 12px;
}

.checklist-tree-bar-button {
  height: 24px;
}
