<mat-tree
  #tree
  [dataSource]="dataSource"
  [childrenAccessor]="childrenAccessor"
  class="checklist-tree"
  cdkDropList
  [cdkDropListEnterPredicate]="groupEnterPredicate.bind(this)"
  [cdkDropListSortPredicate]="groupDropSortPredicate.bind(this)"
  (cdkDropListDropped)="onGroupDrop($event)"
>
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
       This padding value depends on the mat-icon-button width. -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="12px"
    [class.checklist-selected]="node.checklist && selectedChecklist === node.checklist"
    (click)="onNodeSelect(node)"
    checklistDrag
    [allDropLists]="allDropLists"
    [checklistDragNode]="item"
    cdkDragLockAxis="y"
    [cdkDragData]="node"
    [cdkDragDisabled]="!node.checklist"
  >
    <checklist-tree-node
      #item
      [node]="node"
      (nodeRename)="onChecklistRename(node)"
      (nodeDelete)="onChecklistDelete(node)"
      [disableButtonHover]="dragging"
    />
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <!-- TODO: Dragging of groups could use a better preview and placeholder -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    id="group_{{ node.groupIdx }}"
    checklistDrag
    [checklistDragNode]="group"
    cdkDragLockAxis="y"
    [cdkDragData]="node"
    [cdkDragDisabled]="!node.group"
    cdkDropList
    [cdkDropListData]="node"
    [cdkDropListConnectedTo]="groupDropListsIds"
    [cdkDropListEnterPredicate]="leafEnterPredicate.bind(this)"
    [cdkDropListSortPredicate]="leafDropSortPredicate.bind(this, node.groupIdx)"
    (cdkDropListDropped)="onLeafDrop($event)"
    (cdkDropListEntered)="onLeafEntered($event)"
    (cdkDropListExited)="onLeafExited($event)"
  >
    <div class="mat-tree-node" [class.group-selected]="node.group && selectedChecklistGroup === node.group">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <checklist-tree-node
        #group
        [node]="node"
        (nodeRename)="onGroupRename(node)"
        (nodeDelete)="onGroupDelete(node)"
        [disableButtonHover]="dragging"
      />
    </div>

    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.checklist-tree-invisible]="!tree.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
