<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="checklist-tree">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
       This padding value depends on the mat-icon-button width. -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [class.checklist-selected]="node.checklist && selectedChecklist === node.checklist"
    (click)="onNodeSelect(node)"
    [allDropLists]="allDropLists"
    checklistDrag
    cdkDragLockAxis="y"
    [cdkDragData]="node"
    [cdkDragDisabled]="!node.checklist"
  >
    <checklist-tree-node [node]="node" (nodeRename)="onChecklistRename(node)" (nodeDelete)="onChecklistDelete(node)" />
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    id="group_{{ node.groupIdx }}"
    cdkDropList
    [cdkDropListData]="node"
    [cdkDropListConnectedTo]="allGroupIds()"
    [cdkDropListSortPredicate]="dropSortPredicate.bind(this, node.groupIdx)"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="mat-tree-node" [class.group-selected]="node.group && selectedChecklistGroup === node.group">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <checklist-tree-node [node]="node" (nodeRename)="onGroupRename(node)" (nodeDelete)="onGroupDelete(node)" />
    </div>

    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.checklist-tree-invisible]="!tree.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
