@use '@angular/material' as mat;
@use '../../../../theme' as theme;

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  min-width: 450px;
}

.note {
  color: mat.get-theme-color(theme.$efis-editor-theme, on-surface-variant);
  font-size: small;
  padding-left: 1em;
}
