<h2 mat-dialog-title>Enter {{ data.promptType }} title</h2>

<mat-dialog-content (keyup.enter)="okbutton._elementRef.nativeElement.click()">
  <mat-form-field>
    <mat-label id="title-label">Title</mat-label>
    <input
      matInput
      cdkFocusInitial
      required
      aria-labelledby="title-label"
      placeholder="My {{ data.promptType }} title"
      [(ngModel)]="title"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button #okbutton mat-button [mat-dialog-close]="title" [disabled]="!title">Ok</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
