<div class="command-bar">
  <button mat-icon-button matTooltip="New file" aria-label="New file" (click)="onNewFile()">
    <mat-icon>note_add</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Open file"
    aria-label="Open file"
    [disabled]="hasFiles()"
    (click)="openFile.emit(true)"
  >
    <mat-icon>folder_open</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Upload file" aria-label="Upload file" (click)="uploadFile.emit(true)">
    <mat-icon>upload</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Download file"
    aria-label="Download file"
    [disabled]="fileIsOpen()"
    [matMenuTriggerFor]="downloadMenu"
  >
    <mat-icon>download</mat-icon>
  </button>
  <mat-menu #downloadMenu>
    <button mat-menu-item *ngFor="let format of downloadFormats()" (click)="downloadFile.emit(format.id)">
      {{ format.name }}
    </button>
  </mat-menu>
  <button
    mat-icon-button
    matTooltip="Print file"
    aria-label="Print file"
    [disabled]="fileIsOpen()"
    (click)="downloadFile.emit('pdf')"
  >
    <mat-icon>print</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Delete file"
    aria-label="Delete file"
    [disabled]="fileIsOpen()"
    (click)="onDeleteFile()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="File information"
    aria-label="Open file information dialog"
    [disabled]="fileIsOpen()"
    (click)="fileInfo.emit(true)"
  >
    <mat-icon>info</mat-icon>
  </button>
</div>
