@use '@angular/material' as mat;
@use '../../theme' as theme;

.container {
  padding: 20px;
}

.filetypes {
  margin-top: 20px;
  margin-bottom: 30px;
}

.filetype-card {
  max-width: 400px;
  border-radius: 8px;
  @include mat.elevation(3);
  @include mat.card-overrides(
    (
      elevated-container-color: mat.get-theme-color(theme.$efis-editor-theme, surface-container-high),
      subtitle-text-color: mat.get-theme-color(theme.$efis-editor-theme, neutral, 70),
    )
  );
}

.callout {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-flex;
  color: mat.get-theme-color(theme.$efis-editor-theme, on-surface);
  @include mat.elevation(1);
}

.callout a:link {
  color: mat.get-theme-color(theme.$efis-editor-theme, primary);
}

.callout a:visited {
  color: mat.get-theme-color(theme.$efis-editor-theme, on-surface-variant);
}

.danger {
  background-color: mat.get-theme-color(theme.$efis-editor-theme, error-container);
}

.important {
  background-color: mat.get-theme-color(theme.$efis-editor-theme, tertiary-container);
  color: mat.get-theme-color(theme.$efis-editor-theme, on-tertiary-container);
}

.callout-title {
  padding-right: 10px;
  font-weight: bold;
  text-align: center;
}

.skull-icon {
  line-height: 20px;
  font-size: 80px;
}

.bottom-content {
  margin-top: 20px;
}
