@use '@angular/material' as mat;

.container {
  padding: 20px;
}

.filetypes {
  margin-top: 20px;
  margin-bottom: 30px;
}

.filetype-card {
  max-width: 400px;
  border-radius: 8px;
  @include mat.elevation(10);
}

.callout {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-flex;
  color: #222;
  @include mat.elevation(5);
}

.callout a:link {
  color: #43a047;
}

.callout a:visited {
  color: #616161;
}

.danger {
  background-color: #faa; // Pun intended.
}

.important {
  background-color: #ffa;
  color: #222;
}

.callout-title {
  padding-right: 10px;
  font-weight: bold;
  text-align: center;
}

.skull-icon {
  font-size: 80px;
}

.bottom-content {
  margin-top: 20px;
}
