@use '@angular/material' as mat;

.editable-input-field {
  width: 100%;

  // Make it short enough that editing doesn't change line height
  height: 28px;
  --mat-form-field-container-vertical-padding: 0;
  @include mat.all-component-densities(-5);
}

.editable-input {
  // Keep the input also centered on the row
  position: relative;
}

mat-form-field {
  @include mat.form-field-overrides(
    (
      outlined-caret-color: white,

      outlined-label-text-color: --sys-on-surface-variant,
      outlined-hover-label-text-color: --sys-on-surface,
      outlined-focus-label-text-color: white,

      outlined-focus-outline-color: white,
      outlined-focus-outline-width: 2px,

      outlined-error-hover-outline-color: orange,
    )
  );
}
