@use '@angular/material' as mat;

.editable-input-field {
  width: 100%;

  // Make it short enough that editing doesn't change line height
  height: 28px;
  --mat-form-field-container-vertical-padding: 0;
  @include mat.all-component-densities(-5);
}

.editable-input {
  // Keep the input also centered on the row
  position: relative;
}
