@if (!editing) {
  {{ value }}
} @else {
  <mat-form-field appearance="outline" class="editable-input-field">
    <mat-label>{{ label }}</mat-label>
    <input
      #promptInput
      matInput
      required
      type="text"
      class="editable-input"
      [formControl]="control"
      (beforeinput)="onBeforeInput($event)"
      (keyup.enter)="$event.stopPropagation(); value = promptInput.value; save()"
      (keyup.escape)="$event.stopPropagation(); cancel()"
    />
    <button
      mat-icon-button
      mat-medium-icon-button
      matSuffix
      matTooltip="Save (⏎)"
      [attr.aria-label]="'Save changes to ' + label"
      [disabled]="!this.control.valid"
      (click)="value = promptInput.value; save()"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-medium-icon-button
      matSuffix
      matTooltip="Cancel (Esc)"
      [attr.aria-label]="'Cancel changes to ' + label"
      (click)="cancel()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-form-field>
}
