@use '@angular/material' as mat;
@use '../../../../theme' as theme;

:host {
  table {
    border: 1px solid mat.get-theme-color(theme.$efis-editor-theme, outline-variant);
    border-collapse: collapse;
    margin-bottom: 2em;
  }

  th {
    background-color: mat.get-theme-color(theme.$efis-editor-theme, surface-container-low);
    color: mat.get-theme-color(theme.$efis-editor-theme, on-surface);
  }
}
