.item-container {
  display: flex;
}

.actions {
  float: left;
  flex: none;
}

.item {
  padding-top: 5px;
  color: #eee;
  display: flex;
  width: 100%;
}

.prompt {
  box-decoration-break: clone;
}

.prompt-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.prompt-challenge:before {
  content: " □";
}

.prompt-challenge-response:before {
  content: " □ ";
}

.prompt-caution:before {
  content: "CAUTION:";
}

.prompt-warning {
  color: yellow;
}

.prompt-warning:before {
  content: "WARNING:";
}

.prompt-note {
  color: gray;
}

.prompt-note:before {
  content: "NOTE:";
}

.expectation-container {
  flex-grow: 1;
  display: flex;
}

.expectation-spacer {
  flex-grow: 1;
  text-wrap: nowrap;
  overflow: hidden;
  letter-spacing: 10px;
}

.expectation {
  float: right;
  color: cyan;
}

// TODO: Make this work without ng-deep
::ng-deep .prompt-input mat-form-field {
  width: 400px;
}

::ng-deep .prompt-expectation mat-form-field {
  width: 300px;
}

.item-icon {
  vertical-align: middle;
}

.drag-icon {
  cursor: move;
}