.item-container {
  display: flex;
  align-items: center;
}

.item-container:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px #303f9f;
}

.actions {
  float: left;
  flex: none;
}

.action-icon {
  vertical-align: middle;
}

.drag-icon {
  cursor: move;
  padding-right: 4px;
}

.item {
  color: #eee;
  display: flex;
  width: 100%;
}

.item-centered {
  place-content: center;
}

.prompt {
  box-decoration-break: clone;
}

.prompt-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.prompt-challenge:before {
  content: ' □';
  vertical-align: 1px;
}

.prompt-challenge-response:before {
  content: ' □ ';
  vertical-align: 1px;
}

.prompt-caution:before {
  content: 'CAUTION:';
}

.prompt-warning {
  color: yellow;
}

.prompt-warning:before {
  content: 'WARNING:';
}

.prompt-note {
  color: gray;
}

.prompt-note:before {
  content: 'NOTE:';
}

.expectation-container {
  flex-grow: 1;
  display: flex;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='100' viewBox='0 0 20 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='10' y='16' fill='white' font-size='2em'%3e.%3c/text%3e%3c/svg%3e ");
  background-repeat: repeat-x;
}

.expectation-spacer {
  flex-grow: 1;
}

.expectation {
  float: right;
  color: cyan;
  padding-left: 5px;
  background-color: #000;
}

.prompt-input-editing {
  display: inline-block;
  width: 400px;
}

.expectation-input-editing {
  display: inline-block;
  width: 300px;
}
