.item-container {
  display: flex;
  align-items: center;
  min-width: 500px; /* min width required for challenge-response editables */
}

.item-container:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px #303f9f;
}

.actions {
  float: left;
  flex: none;
}

.action-icon {
  vertical-align: middle;
}

.drag-icon {
  cursor: move;
  padding-right: 4px;
}

.item {
  color: #eee;
  display: flex;
  width: 100%;
  position: relative;
  min-height: 22px;
}

.item-centered {
  place-content: center;
}

.prompt {
  box-decoration-break: clone;
}

.item-title .prompt {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.item-warning .prompt {
  color: yellow;
}

.item-note .prompt {
  color: gray;
}

/* Expand editors of note and title to full available width */
.item-text .prompt,
.item-title .prompt,
.item-text .prompt-input,
.item-title .prompt-input {
  width: 100%;
}

.item-challenge .prompt:before,
.item-challenge-response .prompt:before {
  content: ' □';
  vertical-align: 2px;
}

.item-caution .prompt:before {
  content: 'CAUTION:';
}

.item-warning .prompt:before {
  content: 'WARNING:';
}

.item-note .prompt:before {
  content: 'NOTE:';
}

.expectation-container {
  flex-grow: 1;
  display: flex;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e %3Ccircle cx='10' cy='15' r='2' fill='white' /%3e %3c/svg%3e");
  background-repeat: repeat-x;
}

.expectation {
  float: right;
  color: cyan;
  margin-top: 1px;
  padding-left: 5px;
  background-color: #000;
}

.item-challenge .prompt-input,
.item-challenge-response .prompt-input {
  position: absolute;
  left: 30px;
  top: 1px;
  background: #000;
  padding-right: 5px;
}

.item-warning .prompt-input,
.item-caution .prompt-input {
  position: absolute;
  left: 100px;
}

.expectation-input {
  position: absolute;
  right: 0;
  background: #000;
  padding-left: 10px;
}

.prompt-input-editing,
.expectation-input-editing {
  margin-top: -8px;
}

.prompt-input-editing {
  display: inline-block;
  width: 400px;
}

.expectation-input-editing {
  display: inline-block;
  width: 300px;
}

.prompt-tabulator:first-child,
.prompt:first-child:not(.item-centered > span) {
  padding-left: 10px;
  padding-right: 10px;
}

.prompt-tabulator {
  opacity: 33%;
  width: 25px;
  margin-top: -3px;
}

.item-container:hover .prompt-tabulator:before,
.item-container:focus .prompt-tabulator:before {
  content: '⟷';
}
