.item-container {
  display: flex;
  align-items: center;
}

.item-container:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px #303f9f;
}

.actions {
  float: left;
  flex: none;
}

.action-icon {
  vertical-align: middle;
}

.drag-icon {
  cursor: move;
  padding-right: 4px;
}

.item {
  color: #eee;
  display: flex;
  width: 100%;
}

.item-centered {
  place-content: center;
}

.prompt {
  box-decoration-break: clone;
}

.prompt-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.prompt-challenge:before {
  content: ' □';
  vertical-align: 1px;
}

.prompt-challenge-response:before {
  content: ' □ ';
  vertical-align: 1px;
}

.prompt-caution:before {
  content: 'CAUTION:';
}

.prompt-warning {
  color: yellow;
}

.prompt-warning:before {
  content: 'WARNING:';
}

.prompt-note {
  color: gray;
}

.prompt-note:before {
  content: 'NOTE:';
}

.expectation-container {
  flex-grow: 1;
  display: flex;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e %3Ccircle cx='10' cy='16' r='2' fill='white' /%3e %3c/svg%3e");
  background-repeat: repeat-x;
}

.expectation-spacer {
  flex-grow: 1;
}

.expectation {
  float: right;
  color: cyan;
  margin-top: 1px;
  padding-left: 5px;
  background-color: #000;
}

.prompt-input-editing {
  display: inline-block;
  width: 400px;
}

.expectation-input-editing {
  display: inline-block;
  width: 300px;
}

.prompt-tabulator:first-child,
.prompt:first-child:not(.item-centered > span) {
  padding-left: 10px;
}

.prompt-tabulator {
  opacity: 33%;
  width: 25px;
  margin-top: -3px;
}

.item-container:hover .prompt-tabulator:before,
.item-container:focus .prompt-tabulator:before {
  content: '⟷';
}
