/* You can add global styles to this file, and also import other style files */
@import 'mat-icon-button-sizes/style.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

hr {
  width: 95%;
}
