/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './theme' as theme;

@import 'mat-icon-button-sizes/style.css';
@import '../node_modules/ngx-spinner/animations/ball-fussion.css';

html {
  @include mat.all-component-themes(theme.$efis-editor-theme);
  @include mat.system-level-colors(theme.$efis-editor-theme);
  @include mat.system-level-typography(theme.$efis-editor-theme);
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: mat.get-theme-color(theme.$efis-editor-theme, neutral, 10);
  color: mat.get-theme-color(theme.$efis-editor-theme, neutral, 95);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

hr {
  width: 95%;
}

a:link {
  color: mat.get-theme-color(theme.$efis-editor-theme, primary, 70);
}

a:visited {
  color: mat.get-theme-color(theme.$efis-editor-theme, primary, 50);
}
