# Based on: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Angular CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  buildprep:
    uses: rdamazio/efis-editor/.github/workflows/build-prep.yml@main

  build:
    runs-on: ubuntu-latest
    needs: buildprep

    steps:
      - name: Fetch prepared artifacts
        uses: actions/download-artifact@v6
        with:
          name: prepared-source
      - name: Extract prepared artifacts
        run: tar xf prepared-source.tar
      - name: Build
        run: npm run build --if-present
      - name: Run tests
        # Attempt to re-run in case there's flakiness.
        run: npm run test:coverage || npm run test:coverage

  lint:
    runs-on: ubuntu-latest
    needs: buildprep
    steps:
      - name: Fetch prepared artifacts
        uses: actions/download-artifact@v6
        with:
          name: prepared-source
      - name: Extract prepared artifacts
        run: tar xf prepared-source.tar
      - run: npm run lint
      - run: npm run format
      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2
        with:
          path: src
      - uses: marocchino/validate-dependabot@d8ae5c0d03dd75fbd0ad5f8ab4ba8101ebbd4b37 # v3
        id: validate

  dependabot:
    runs-on: ubuntu-latest
    needs: [build, lint]
    if: github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'rdamazio/efis-editor'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
