# Based on: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Angular CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  buildprep:
    uses: rdamazio/efis-editor/.github/workflows/build-prep.yml@main

  build:
    runs-on: ubuntu-latest
    needs: buildprep

    steps:
      - name: Fetch prepared artifacts
        uses: actions/download-artifact@v4
        with:
          name: prepared-source
      - name: Extract prepared artifacts
        run: tar xf prepared-source.tar
      - name: Build
        run: npm run build --if-present
      - name: Run tests
        run: npm run test:headless

  lint:
    runs-on:
      ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: npm run format
      - run: npm run lint
