# Based on: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build preparation

on:
  workflow_call:

jobs:
  buildprep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "21.7.3"
          cache: 'npm'
      - name: Install npm dependencies
        run: npm ci
      - name: Run formatter
        run: npm run format
      - name: Run linter
        run: npm run lint
      - name: Install ProtoC
        uses: arduino/setup-protoc@v3
      - name: Generate protos
        run: |
          protoc \
            --proto_path=src/model/proto \
            --plugin=protoc-gen-ts=node_modules/@protobuf-ts/plugin/bin/protoc-gen-ts \
            --ts_out=gen/ts \
            src/model/proto/*.proto
      - name: Archive prepared artifacts
        run: tar cf prepared-source.tar *
      - name: Upload prepared artifacts
        uses: actions/upload-artifact@v4
        with:
          name: prepared-source
          path: prepared-source.tar
          if-no-files-found: error
          retention-days: 1
